@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body{
  background-color: #FFFFFF;
}

.principalLogopancake{
  width: 200px;
  margin-top: 5em;
}

.principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.example-full-width{
  width: 20rem;
}

.principalBotao{
  font-family: 'Inria Sans', sans-serif;
  font-size: 1.1rem;
  width: 8rem;
  border-radius: 1rem;
  background-color: #FF4C4C;
  color: white;
}

.principalBotao:hover{
  background-color: #FF4C4C;
  color: white;
}