<section>
    <div class="principal">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Digite o nome" name="nome" id="nome" [(ngModel)]= "nomeUsuario"/>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Digite o login" name="login" [(ngModel)]= "emailUsuario"/>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Digite a senha" name="senha" [(ngModel)] = "senhaUsuario"/>
          </mat-form-field>
  
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirmar senha</mat-label>
            <input matInput placeholder="Confirme sua senha" name="Confirmasenha" [(ngModel)] = "confirmaSenha"/>
          </mat-form-field>
        </form>
  
      <button mat-raised-button color="primary" class="principalBotao" (click)="salvar()">CADASTRAR</button>
      <br>
      <br>
      <br>
    </div>
  </section>